@import '../utils/variables';

/* Site navigation / Header*/
.header {
    border-bottom: 1px solid #ececec;
}

.navigation {
    display: flex;
    align-items: center;

    &__list {
            display: flex;
            gap: 50px;
        }
    
    &__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: vgetColor(primaryTextColor);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: color 250ms $timingBuzier;

        &:hover,
        &:focus {
            color: getColor(acentTextColor);
        }
    }


    &__link--active {
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: 0;
            right: 0;
            background-color: getColor(acentTextColor);
            border-radius: 2px;
        }
    }
}

.contacts {
    display: flex;
    margin-left: auto;
    gap: 50px;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: getColor(otherTextColor);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        cursor: pointer;
        transition: color 250ms $timingBuzier;

        &:hover,
        &:focus {
            color: getColor(acentTextColor);
        }
        }

    &__email-icon,
    &__smartphone-icon {
        fill: currentColor;
        margin-right: 10px;
    }

}