@import '../utils/variables';

.work {
    padding-bottom: 94px;
}


.work__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: getColor(primaryTextColor)
}

.work__list {
    display: flex;
    gap: 30px;
}

.work__item {
    display: flex;
    position: relative;
}

.work__label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    color: getColor(secondTextColor);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}