.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container--position {
    display: flex;
    align-items: center;
}

.container--resize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 696px;
}

.container--retreat {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container--backdown {
    display: flex;
    gap: 70px;
    align-items: baseline;
}